if ARCH_MSM

comment "Qualcomm MSM SoC Type"
	depends on ARCH_MSM_DT

config ARCH_MSM8X60
	bool "MSM8X60"
	select ARM_GIC
	select CPU_V7
	select GPIO_MSM_V2
	select HAVE_SMP
	select MSM_SCM if SMP

config ARCH_MSM8960
	bool "MSM8960"
	select ARM_GIC
	select CPU_V7
	select HAVE_SMP
	select GPIO_MSM_V2
	select MSM_SCM if SMP

config ARCH_MSM_DT
	def_bool y
	depends on (ARCH_MSM8X60 || ARCH_MSM8960)
	select SPARSE_IRQ
	select USE_OF

config MSM_HAS_DEBUG_UART_HS
	bool

config MSM_SCM
	bool
endif
